<launch>
    <!-- <node pkg = "guidance_node" type = "guidance_node" name = "Guidance" output = "screen"></node> -->
    <node pkg = "cmd_vel" type = "can_node" name = "Cmd_vel" output = "screen"></node>
    <!-- <node pkg = "camera" type = "camera_server.py" name = "camera_webserver" output = "screen"></node> -->
</launch>